/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700;400italic&family=Texturina:wght@400;700&display=swap');

:root {
  --background-color: #26252b;
  --heading-color: #e3e9f0;
  --text-color: #c9d1d9;
  --link-color: #f2c488;
  --visited-color: #26252b;
}

/* Body styling */
body {
  font-family: 'Alegreya', Georgia, serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.25rem; /* 20px */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Header styles using Texturina */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Texturina', serif;
  color: var(--heading-color);
  font-weight: 600;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

tr:nth-child(even) td {
  background-color: #2e2d33;
}

tr:nth-child(odd) td {
  background-color: var(--background-color);
}

thead {
  display: none; 
}

/* Buttons */
button {
 
